/alu.txt
/ALUTest_isim_beh3.wdb
/Alu_envsettings.html
/Datapath_fixed.vhd.bak
/Datapath_guide.ncd
/Datapath_isim_beh1.wdb
/Decoder_5to32_envsettings.html
/FlopR_envsettings.html
/fuse.log
/fuse.xmsgs
/fuseRelaunch.cmd
/iseconfig
/isim
/isim.cmd
/isim.log
/mips_processor.gise
/mips_processor.xise
/MIPS_Processor_guide.ncd
/MIPS_Processor_summary.html
/modelsim.ini
/p.cr.mti
/p.mpf
/par_usage_statistics.html
/pepExtractor.prj
/PROCCESSOR.cr.mti
/PROCCESSOR.mpf
/RegisterFileTest_isim_beh1.wdb
/RegisterFileTest_isim_beh2.wdb
/RegisterFileTest_isim_beh3.wdb
/RegisterFileTest_isim_beh4.wdb
/RegisterFile_guide.ncd
/tb_Control_Unit.vhd.bak
/tb_datapath.vhd.bak
/tb_Datapath_isim_beh1.wdb
/tb_Datapath_isim_beh2.wdb
/tb_MIPS_Processor_beh.prj
/tb_MIPS_Processor_isim_beh.exe
/tb_MIPS_Processor_isim_beh.wdb
/tb_MIPS_Processor_isim_beh1.wdb
/tb_MIPS_Processor_isim_beh2.wdb
/vlog.opt
/work
/xilinxsim.ini
/_xmsgs